/*=============== navigation ===============*/ 
.navbar-header {

	a {
 	   color: #fff;
	    font-size: 1.4em;

	    &:hover { text-decoration: none; }
	}
}

.navbar-right {
    margin-right: 5em;
}

/*=============== login, register ===============*/ 
.row-table > [class*="col-"] {
	top: 7em !important;
}

/*=============== dashboard ===============*/ 
.wrapper {
	height: 100vh !important;
}

@media only screen and (min-width: 768px) {

	.wrapper > section {
	    padding-top: 50px !important;
	}
}
