/*=============== navigation ===============*/ 
.navbar-header {
	margin-left: 5em;

	a {
 	   color: #fff;
	    font-size: 1.4em;

	    &:hover { text-decoration: none; }
	}
}

.navbar-right {
    margin-right: 5em;
}

/*=============== login, register ===============*/ 
.row-table > [class*="col-"] {
	top: 7em !important;
}

/*=============== dashboard ===============*/ 
.wrapper {
	height: 100vh !important;
}

@media only screen and (min-width: 768px) {

	.wrapper > section {
	    padding-top: 50px !important;
	}
}

/* @media only screen and (min-width: 768px) {
	.wrapper > section {
	    margin-left: 0 !important;
	    padding: 0 7em;
	}
} */

/*=============== admin ===============*/ 
button.close {
	position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
}


/*=============== home, home2 ===============*/ 
.Spintax__result,
.Process__article {
	padding: 1em 2em 2em;
    margin-bottom: 3em;
}

.Spintax__result {
    background: #ffc8c8;
    border: 1px solid #e4abab;
}

.Process__article {
    background: #e1f9dd;
    border: 1px solid #d6e6d3;
}

.Word {
	padding: 0 20px;
}

.Word__result {
	width: 100%;
	margin-bottom: 3em;
	overflow-y: hidden;
}

/*=============== summernote ===============*/ 

mark { background-color: #f9e603 !important; }

.Copyscape__result mark { 
	background-color: #F73838 !important; 
	color: #fff;
}

div.note-editable p {
	white-space: pre-wrap;
}