html, body { overflow-x: visible !important; }
/*=============== Writer ===============*/
.Writer { margin: 7em 5em; }

/*=============== Misc ===============*/
/* .Dashboard {
    a[id] > div { padding-top: 5em; }
    a[id] { text-decoration: none; color: #535050; }
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
}

.stopwatch {
        font-size: 2em;
        text-align: center;
}

#close {
    position: fixed;
    top: 4.6em;
    right: 0;
    width: 140px;
    padding: 1em 4em 1em 1em;
    font-weight: bold;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.timer-overlay {
    position: fixed;
    background: #080808;
    color: #fff;
    right: 0;
    bottom: 34.5em;
    padding-top: 1em;
    padding-left: 1.2em;
    padding-right: .5em;
    width: 140px;
    text-align: center;
    border-bottom-left-radius: 4px;
    /* border-top-left-radius: .5em; */
    /* border-bottom-left-radius: .5em; */
    /* border: 5px solid #ecdfdf; */
    /* border-left-width: 0; */
    z-index: 999999;
}

.timer-overlay span {
    font-size: 14px;
}

.AdminDisapprove,
.Comment {
    margin: 7em auto;
    width: 400px;
    background: #fff;
    padding: 1em;
}

.Comment {
    position: relative;
}

.clear { clear: both; }

.search-by {

    input[type=text],
    input[type=date] {
        width: 150px;
    }
}

.Search .ArticleEditor,
.Edited .ArticleEditor,
.Waiting .ArticleEditor,
.Spun .ArticleEditor,
.Report .ArticleEditor {
    background: #fff;
    padding-top: 1em;
    padding: 1em 1em .1em;
}

/* .Search .timer-overlay,
.Edited .timer-overlay,
.Waiting .timer-overlay,
.Spun .timer-overlay,
.Report .timer-overlay {
    right: 0;
    bottom: 0em !important;
    left: auto !important;
    width: 180px;
} */

.ReportHeader {
    h2 {
        margin-top: 0;
        padding-top: 1em;
    }
}


/*=============== Curly Color ===============*/
span.curly { color: #ff00d8; }
span.pipe { color: #54ff00; }

/*=============== Sub nav - sidebar ===============*/
.sub-nav { margin-left: -2em; }

/*=============== navigation ===============*/
.navbar-header {
	margin-left: 5em;

	a {
 	   color: #fff;
	    font-size: 1.4em;

	    &:hover { text-decoration: none; }
	}
}

.navbar-right {
    margin-right: 5em;
}

/*=============== login, register ===============*/
.row-table > [class*="col-"] {
	top: 7em !important;
}

/*=============== dashboard ===============*/
.wrapper {
	height: 100vh !important;
}

@media only screen and (min-width: 768px) {

	.wrapper > section {
	    padding-top: 50px !important;
	    background: #dedede !important;
	}
}

/* @media only screen and (min-width: 768px) {
	.wrapper > section {
	    margin-left: 0 !important;
	    padding: 0 7em;
	}
} */

/*=============== admin ===============*/
button.close {
	position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
}

.Search,
.Report,
.Edited,
.User,
.Waiting,
.AdminApprove,
.Spun {
    background: #848484;
    margin-bottom: 5em;

    .header h2, .header p { color: #fff; }
}

.Search {
    .Result > h2, .Result > p { color: #fff; }
}

.User {
    padding: 0 1em 0.1em;
}

.User__pending {
    & > h2,
    & > p {
        color: #fff;
    }
}

/*=============== admin ===============*/
input[type=date] {
    padding: .3em .5em;
    border: 1px solid #fff;
    border-radius: 0.2em;
    margin-right: 1em;
}

.Filter {
    background: #444444;
    padding: 1em 1em 0.7em;
    margin-top: 2em;

    label { color: #fff; }
}

.Filter select,
.Filter input {
    color: #000000;
    padding: .5em 1em .5em 0.5em;
    border: 1px solid white;
    border-radius: 2px;
}

/*=============== admin - reporting ===============*/
.articles-content {
    background: #fff;
    padding: 0.1em 1em 1em;
    width: 300px;
    max-width: 300px;
    float: left;
    margin-right: 1em;
    margin-top: 1em;
}

.articles-content h3,
.articles-content p {
    overflow: hidden;
}

.articles-content h3 {
    font-size: 1.4em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.articles-content p {
    white-space: pre-wrap;
}

.Report table thead th:last-child,
.Edited table thead th:last-child,
.Spun table thead th:last-child,
.ReportTable table thead th:last-child,
.Waiting table thead th:last-child {
    // width: 200px;
    // max-width: 200px;
    text-align: center !important;
}

table { background: #fff; }
table thead th:nth-child(5) { width: 120px; }

/*=============== Editor - table and buttons ===============*/

.Editor {
    h2 {
        text-transform: uppercase;
        text-align: center;
     }
}

.Editor {

    .articles-to-be-edit,
    .articles-edited-this-week,
    .articles-to-publish {
        h2 { color: #fff; }

        padding: 3em 0.2em 0.1em;
    }

    .articles-to-be-edit {
        background: #b37b7b;
        border: 1px solid #794747;

        button { background: #b37b7b; }
        button:hover { background: #A46D6D; border: 1px solid #976262; }
    }

    .articles-edited-this-week {
        background: #94b795;
        border: 1px solid #699c6b;

        button { background: #699c6b; }
        button:hover { background: #5E8F60; border: 1px solid #527D54; }
    }

    .articles-to-publish {
        background: #64abf5;
        border: 1px solid #63a2e4;

        button { background: #64abf5; }
        button:hover { background: #599CE1; border: 1px solid #5392D2; }
    }

    .ReportTable {
        table tbody td:nth-child(2) {  // article type
            width: 100px;
        }

        table tbody td:nth-child(4) {  // title
            width: 250px;
            max-width: 250px;
        }

        table tbody td:nth-child(6) {  // lsi
            width: 150px;
            max-width: 150px;
        }

        table td:last-child {
            width: 100px !important;
            // max-width: 200px !important;


            button { width: 90px; }
        }
    }
}

/*=============== Admin - table and buttons ===============*/

.Report,
.ReportTable,
.Edited,
.Waiting,
.Spun,
.Search {

    table td:last-child {
        width: 300px !important;
        // max-width: 200px !important;


        button { width: 90px; }
    }
}

.DetailTable {
    table td:last-child {
        width: 200px !important;


        button { width: 90px; }
    }
}

/*=============== Editor - table and buttons ===============*/

.EditorPage .Waiting,
.EditorPage .Edited {
    background: none;
}

/*=============== home, home2 ===============*/
.Spintax__result,
.Original__article,
.Process__article {
	padding: 1em 2em 2em;
    margin-bottom: 3em;
}

.Spintax__result,
.Original__article,
.note-editable.panel-body {
    background: #252525;
    color: #e8e8e8;
    font-size: 1.2em;
    line-height: 1.6em;
    border: 1px solid #413737;
}

.Original__article {
    background: #ff7e71;
    border: 1px solid #d85f53;
}

.note-editable.panel-body {
    background: none;
    border: none;
}

.Process__article {
    background: #87f394;
    border: 1px solid #6cd879;
    position: relative;

    h3 { color: #fff; }


    span.counter {
        font-size: 1.1em;
        margin-right: .5em;

        b { font-size: 1em; }
    }
}

.Word {
	padding: 0 20px;
}

.Word__result {
	width: 100%;
	margin-bottom: 3em;
	overflow-y: hidden;
}

/*=============== summernote ===============*/

mark { background-color: rgba(255, 244, 112, 0.9) !important; }

.Copyscape__result mark {
	background-color: #F73838 !important;
	color: #fff;
}

div.note-editable p {
	white-space: pre-wrap;
}